#events-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    gap: 1rem;
}

.evt-btns {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.evt_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.evt-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
}

.evt-item_link:hover, .evt-item_link:hover .evt-item_date {
    text-decoration: none;
    color: #FFF;
}

.evt-item_link:hover .evt-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.evt-item_title {
    /* min-height: 87px; */
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.evt-item_bg-item, .evt-item_date-box {
    font-size: 18px;
    color: #FFF;
}

.evt-item_date-box, .evt-btns {
    position: relative;
    z-index: 2;
}

.evt-item_bg-item_child, .evt-item_date {
    margin-left: 0.5rem;
    font-weight: bold;
    color: #f9b234;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.evt-item_bg {
    height: 128px;
    width: 128px;
    background-color: #4c49ea;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media only screen and (max-width: 1020px) {
    #events-list {
        grid-template-columns: 1fr;
    }

    .evt_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .evt-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 639px) {
    .evt_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .evt-item_title {
        min-height: 72px;
        line-height: 1;
        font-size: 24px;
    }

    .evt-item_link {
        padding: 22px 40px;
    }

    .evt-item_date-box {
        font-size: 16px;
    }
}
